<!DOCTYPE html>
<html>

<head>
  <title>PDM Lite</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="banner">
    <img src="{{ url_for('static', filename='banner.png') }}" alt="PDM Lite Banner">
    <h1>PDM Lite</h1>
    <p>Register below:</p>
  </div>

  {% if session.username %}
  <div class="auth-options">
    <p>
      You have logged in as {{ session.username }}
    </p>
    <p>
      <a href="/logout">Logout</a>
    </p>
  </div>
  {% else %}
    <div class="login-form">
      {% if session.csrf_token %}
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      {% endif %}
    <form action="/register" method="post">
      {% if error_message %}
      <div class="error-message">
        {{ error_message }}
      </div>
      {% endif %}
      {% if success_message %}
      <div class="success-message">
        {{ success_message }}
      </div>
      {% endif %}
    
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
      </div>
      <div class="form-group">
        <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1" />
      </div>
      <div class="form-group">
        <label for="password2">Password again:</label>
        <input type="password" id="password2" name="password2" />
      </div>
      <input type="submit" value="Register" />
    </form>
  </div>
  <div class="auth-options">
    <p>Have an account? Login here: <a href="/">Login</a></p>
  </div>
  {% endif %}

</body>

</html>